/* styles.css */
body {
  margin: 0;
  padding: 0;
  background-color: #0000ff; /* Replace with your desired blue color code */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Set the body position to relative for absolute positioning */
}

.content {
  flex-grow: 1; /* Grow to fill remaining vertical space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 220px; /* Set the width to your desired fixed size */
  height: auto; /* Maintain the aspect ratio */
  opacity: 0;
  animation: fadeIn 2s forwards; /* Adjust the duration as needed */
  margin-bottom: 30px; /* Adjust the margin as needed for spacing */
}

.instagram-button {
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 2s forwards; /* Adjust the duration as needed */
}

/* Apply a class to style the Instagram logo size */
.instagram-logo {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

.copyright {
  font-family: 'Bebas Neue', sans-serif; /* Replace 'Bebas Neue' with the actual font name */
  font-size: 16px; /* Adjust the font size as needed */
  color: #ffffff; /* Set to white for the text color */
  opacity: 0;
  animation: fadeIn 2s forwards; /* Adjust the duration as needed */
  text-transform: lowercase; /* Convert text to lowercase */
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  left: 50%; /* Move to the horizontal center */
  transform: translateX(-50%); /* Adjust for horizontal centering */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
